body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1087px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:251px;
  width:138px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:134px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:422px;
  width:138px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:134px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:89px;
  width:138px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:134px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:32px;
  width:129px;
  height:76px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:118px;
  width:129px;
  height:76px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:204px;
  width:129px;
  height:76px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:503px;
  width:129px;
  height:76px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:392px;
  width:129px;
  height:76px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:35px;
  width:113px;
  height:64px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:45px;
  width:113px;
  height:64px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:55px;
  width:113px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:109px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:398px;
  width:113px;
  height:64px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:408px;
  width:113px;
  height:64px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:418px;
  width:113px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:109px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:178px;
  width:113px;
  height:64px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:188px;
  width:113px;
  height:64px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:198px;
  width:113px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:109px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:509px;
  width:113px;
  height:64px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:519px;
  width:113px;
  height:64px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:529px;
  width:113px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:109px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:165px;
  width:182px;
  height:29px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:213px;
  width:182px;
  height:29px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:261px;
  width:182px;
  height:29px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:445px;
  width:182px;
  height:29px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:406px;
  width:182px;
  height:29px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:367px;
  width:182px;
  height:29px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:544px;
  width:182px;
  height:29px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:583px;
  width:182px;
  height:29px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:121px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:87px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:8px;
  height:170px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:158px;
  width:19px;
  height:8px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:454px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:87px;
  height:8px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-175px;
  width:8px;
  height:179px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-175px;
  width:19px;
  height:8px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:70px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:8px;
  height:59px;
}
#u32_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:47px;
  width:23px;
  height:8px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:156px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-39px;
  width:8px;
  height:43px;
}
#u33_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-39px;
  width:23px;
  height:8px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:242px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-125px;
  width:8px;
  height:129px;
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-125px;
  width:23px;
  height:8px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:430px;
  width:0px;
  height:0px;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:8px;
  height:32px;
}
#u35_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:20px;
  width:23px;
  height:8px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:541px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-91px;
  width:8px;
  height:95px;
}
#u36_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-91px;
  width:23px;
  height:8px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:67px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:8px;
  height:11px;
}
#u37_seg2 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-1px;
  width:21px;
  height:8px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:156px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:62px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:50px;
  width:17px;
  height:8px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:242px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-36px;
  width:8px;
  height:40px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-36px;
  width:17px;
  height:8px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:430px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:18px;
}
#u40_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:6px;
  width:27px;
  height:8px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:541px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:18px;
}
#u41_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:6px;
  width:27px;
  height:8px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:180px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:8px;
  height:58px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:46px;
  width:18px;
  height:8px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:228px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:8px;
  height:10px;
}
#u43_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-2px;
  width:18px;
  height:8px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:276px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-50px;
  width:8px;
  height:54px;
}
#u44_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-50px;
  width:18px;
  height:8px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:382px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:8px;
  height:76px;
}
#u45_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:64px;
  width:18px;
  height:8px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:421px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:8px;
  height:37px;
}
#u46_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:25px;
  width:18px;
  height:8px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:460px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-14px;
  width:8px;
  height:18px;
}
#u47_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-14px;
  width:18px;
  height:8px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:559px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:8px;
  height:10px;
}
#u48_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-2px;
  width:18px;
  height:8px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:598px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-41px;
  width:8px;
  height:45px;
}
#u49_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-41px;
  width:18px;
  height:8px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
